<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户操作日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        body {
            overflow: hidden;
            padding: 5px;
        }
    </style>
</head>

<body>

    <div class="demoTable">
        <form class="layui-form">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg1">
                        <label>操作类型：</label>
                        <div class="layui-inline">
                            <select name="opt_Event" lay-filter="opt_Event">
                                <option value=""></option>
                                <option value="添加">添加</option>
                                <option value="修改">修改</option>
                                <option value="删除">删除</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo">
                        <label>操作模块：</label>
                        <div class="layui-inline">
                            <input class="layui-input" id="txt_ControllerStr" autocomplete="off">
                        </div>
                    </div>
                </div>
        </form>
        <a class="layui-btn" onclick="active.search()">搜索</a>
        <a class="layui-btn" onclick="active.reload()">刷新</a>
    </div>

    </div>

    <table class="layui-hide" id="tableData" lay-filter="tableData"></table>

    <script src="../../layui/layui.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/main.js"></script>

    <script>
        var table = null;
        var layer = null;
        var searchModel = {
            //操作类型
            optEvent: "",
            //模块名称
            controllerStr: ""
        };
        var active = {
            //条件查询
            search: function () {

                searchModel.controllerStr = $("#txt_ControllerStr").val();
                //执行重载
                table.reload('tableReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: searchModel
                }, 'data');
            },
            //刷新页面
            reload: function () {
                window.location.reload();
            }
        };

        layui.use(['table', 'layer', 'form'], function () {
            table = layui.table;
            layer = layui.layer;

            //下拉
            layui.form.on('select(opt_Event)', function (data) {
                if (data.value != searchModel.optEvent) {
                    searchModel.optEvent = data.value;
                    active.search();
                }
            });

            table.render({

                elem: '#tableData'
                , id: "tableReload"
                , url: ApiService.SystemApi.APIService + '/Api/SystemManage/GetOptLogData'
                , page: true
                , height: 'full-44'
                , defaultToolbar: ['filter']
                , cols: [[
                    { field: 'OperationUser', title: '操作人' }
                    , { field: 'OpentionControllerStr', title: '模块' }
                    , { field: 'OperationEvent', title: '事件' }
                    , { field: 'OpentionContext', title: '内容' }
                    , { field: 'OperationTime', title: '时间' }
                ]]
                , response: {
                    statusCode: 1 //重新规定成功的状态码为 1 ，table 组件默认为 0
                }
                , parseData: function (res) {
                    var count = 0;
                    var tableList = [];
                    //将原始数据解析成 table 组件所规定的数据
                    if (res.code == 1 && res.data != null) {
                        count = res.data.count;
                        tableList = res.data.list;
                    }
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": count, //解析数据长度
                        "data": tableList //解析数据列表
                    };
                }
            });


        });

    </script>

</body>

</html>