<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        body {
            padding: 10px;
        }
    </style>
</head>

<body>

    <form class="layui-form" action="" lay-filter="example">
        <input type="hidden" name="Id" value="" />
        <div class="layui-form-item">
            <label class="layui-form-label">标签<label style="color: red;">*</label></label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <select id="sel_UserLabel" name='LabelId' lay-search="" lay-filter="sel_UserLabel">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户昵称<label style="color: red;">*</label></label>
            <div class="layui-input-block">
                <input type="text" name="NickName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户账号<label style="color: red;">*</label></label>
            <div class="layui-input-block">
                <input type="text" name="LoginName" autocomplete="off" placeholder="请输入账号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户密码<label style="color: red;">*</label></label>
            <div class="layui-input-block">
                <input type="password" name="LoginPwd" placeholder="请输入密码" autocomplete="off" value="123123"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="display:none" id="div_nows">
            <div class="layui-input-block">
                <a class="layui-btn">保存修改</a>
            </div>
        </div>

    </form>

    <script src="../../layui/layui.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/main.js"></script>

    <script type="text/javascript">
        var form = null;
        $(function () {
        });
        layui.use(['form', 'layedit', 'laydate'], function () {
            form = layui.form;
            var layer = layui.layer;

            var uType = GetQueryString("u");
            if (uType == "nows") {
                //右上角进入,修改个人资料
                $("#div_nows").show();
                var logUserInfo = JSON.parse(localStorage.LoginUser);
                ajaxGet({
                    url: ApiService.SystemApi.APIService + '/Api/User/GetUserDetailByGid',
                    headers: { "ToKenStr": localStorage.Token },
                    data: { gid: logUserInfo.Gid },
                    success: function (res) {
                        if (res.code != 1) {
                            layer.alert(res.message);
                            return false;
                        }
                        getDetail(res.data);
                    }
                });
            } else {
                //用户菜单列表进入,修改个人资料
                var info = localStorage.detail;
                if (!IsNullOrEmpty(info)) {
                    var res = JSON.parse(info);
                    getDetail(res);
                } else {
                    getUserLableSelect("sel_UserLabel", "", "");
                }
            }
            form.render('select');

        });

        //获取详情
        function getDetail(info) {
            //表单赋值 标签 name='NickName'
            form.val('example', {
                "Id": info.Id
                , "NickName": info.NickName
                , "LoginName": info.LoginName
                , "LoginPwd": info.LoginPwd
            });

            if (info.LoginName == "admin") {
                $("input[name='NickName']").attr("disabled", true);
                $("input[name='LoginName']").attr("disabled", true);
            }
            getUserLableSelect("sel_UserLabel", "", info.LabelId);
            form.render('select');
        }

        //获取页面的值
        function getNowDetailJson() {
            return form.val('example');
        }

        //保存修改
        function saveInfo() {
            var model = getNowDetailJson();
            if (IsNullOrEmpty(model.NickName)) {
                layer.msg("请填写昵称");
                return false;
            }
            if (IsNullOrEmpty(model.LoginName)) {
                layer.msg("请填写用户名");
                return false;
            }
            if (IsNullOrEmpty(model.LoginPwd)) {
                layer.msg("请填写密码");
                return false;
            }
            ajaxPost({
                url: ApiService.SystemApi.APIService + "/Api/User/SaveModel",
                headers: { "ToKenStr": localStorage.Token },
                data: model,
                success: function (res) {
                    layer.msg(res.message);
                    if (res.code != 1) {
                        layer.msg(res.message);
                        return false;
                    }
                    layer.msg("保存成功");
                }
            });
        }

    </script>

</body>

</html>